<section id="skills">
  <h3>SKILLS</h3>
  <div id="skill-container">
    <div>
      <h4>TECHNICAL SKILLS</h4>
      <div>
        <ul>
          <li>HTML</li>
          <li><progress id="file" value="80" max="100"> 80% </progress></li>
          <li>CSS</li>
          <li><progress id="file" value="32" max="100"> 32% </progress></li>
          <li>JAVA</li>
          <li><progress id="file" value="85" max="100"> 85% </progress></li>
          <li>ANGULAR</li>
          <li><progress id="file" value="20" max="100"> 20% </progress></li>
          <li>MYSQL</li>
          <li><progress id="file" value="70" max="100"> 70% </progress></li>
        </ul>
      </div>
    </div>

    <div>
      <h4>LANGUAGES</h4>
      <div>
        <ul>
          <li>ENGLISH</li>
          <li><progress id="file" value="80" max="100"> 80% </progress></li>
          <li>HINDI</li>
          <li><progress id="file" value="95" max="100"> 95% </progress></li>
        </ul>
      </div>
    </div>
  </div>

</section>
