progress[value] {
  width: 350px;
  height: 10px;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: grey;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #f05136;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#skill-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#skills ul {
  font-size: 1.5em;
  list-style: none;
}

#skills ul li {
  margin: 10px 0px;
}

#skill-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
