<section id="portfolio">
  <h3>PORTFOLIO</h3>
  <P>Some of my Best Projects so far</P>
  <hr>
  <div>
    <article>
      <img src="./assets/coding-tag-icon.jpg" alt="coding tag" height="50px" width="50px">
      <h4>PERSONAL BLOG</h4>
      <P>A blog where I pen my own thoughts of Programming</P>
    </article>
    <article>
      <img src="./assets/coding-tag-icon.jpg" alt="coding tag" height="50px" width="50px">
      <h4>TIC TAC TOE</h4>
      <P>Comple Tic Tac Toe game along with GUI in JAVA</P>
    </article>
    <article>
      <img src="./assets/coding-tag-icon.jpg" alt="coding tag" height="50px" width="50px">
      <h4>TIME TABLE GENERATOR</h4>
      <P>A web application for automatic time table generation</P>
    </article>
  </div>
</section>
