 <header id="home">
   <div>
     <p>I BELIEVE IN</p>
     <h1>EAT (); SLEEP (); CODE (); REPEAT ();</h1>
   </div>
 </header>
 <section id="bio">
   <img src="./assets/PhotoGrid_1452962247620.jpg" alt="Nayan Kela" height="400px" width="500px" />
   <article>
     <h2>Nayan Kela</h2>
     <p>
       I am Passionate Engineer with degree in Bachelor of Engineering in Computer Science Stream.
       My very first experience with code was at the time when I started my own blog.
       My Struggle to customize the blog pages introduced to me with HTML and
       CSS. Sooner the exictement of having the power to structure pages on my
       own sounded amazing and that's when i decided to pursue Web development.
     </p>
     <p> Recently, I have taken up Full Stack development with Face prep.I have
       knowledge of HTML, JAVA, Hibernate, Spring and SQL. Rational thought process and
       Goal-Oriented planning are my strength. </p>

     <p> I am Currently on the look out for a Challenging role to build Products
       that make a Difference. </p>

     <a href="./Nayan kela Resum.pdf" class="link-button">Download My Resume</a>

   </article>
 </section>
